.side-bar-details-wrapper {
    background-color: $whiteColor;
    padding: 0.8rem;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    min-height: 3rem;
}

.side-bar-details {
    border-bottom: 0.1rem solid $lightGreyColor;
}

.side-bar-details-inner-wrapper div:last-child {
    border-bottom: none !important;
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}