.blog-search-wrapper {
    width: 45%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

}

.main-search-input {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}

.blog-searh-inner-wrapper {
    position: relative;
}

.local-search-icon-clear {
    position: absolute;
    right: 1rem;
    top: 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.blog-search-btn-wrapper {
    display: none;
}

.blog-search-result {
    padding: 1rem;
    min-height: 20rem;
    background-color: $whiteColor;
    margin-top: 0;
    overflow-y: scroll;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 10;
    border: 0.1rem solid $darkGreyColor;
    border-top: none;
}

.blog-search-result a,
.blog-search-result .search-res-category-span {
    display: block;
    width: 100%;
    color: $baseColor;
    text-decoration: none;
    background-color: $lighterGreyColor;
    margin-bottom: 0.5rem;
    padding: 0.8rem 0.6rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background-color: $lightGreyColor;
        color: $blackColor;
    }
}

@media (max-width: 991.98px) {
    .blog-search-wrapper {
        display: none;
    }

    .show-search-bar {
        display: block;
        width: 92% !important;
    }

    .blog-search-btn-wrapper {
        display: block;
        width: 8%;

    }

    .blog-search-btn-wrapper .btn {
        padding-top: 0.3rem;
        padding-bottom: 0.4rem;
    }

}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .show-search-bar {
        width: 85% !important;
    }

    .blog-search-btn-wrapper {
        padding-left: 0;
        margin-right: 0.3rem;
        width: 10%;
    }

    .blog-search-btn-wrapper .btn {
        padding-top: 0.4rem;
        padding-bottom: 0.6rem;
    }


}