.logo-wrapper {
	padding: 0;
	margin: 0;
	//margin-top: -1.5rem;
	position: relative;
}

.logo-wrapper a {
	text-decoration: none;
	font-family: $logoFont;
	padding: 0;
	margin: 0;
	font-size: 1.3rem;
	color: $blackColor !important;

	&:hover {
		text-decoration: none;
	}
}

.logo-wrapper .logo-dot {
	font-weight: bolder;
	color: $primaryColor !important;
	font-size: 4rem;
	position: absolute;
	left: 3.8rem;
	top: -3.5rem;
}



@media (max-width: 1280px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}